**/*.md
**/*.sql
**/*.zip
**/tests
**/.editorconfig
/app/.php-version
/app/.php-cs-fixer.dist.php
/app/psalm.xml
/app/vendor
/app/codeception.yml
/app/gpl-3.0.txt
/app/ide-twig.json
/app/php.ini
/app/xdebug.ini
/app/config/dumps/
/app/tests/
/docker
/app/var/cache